/*
Add your NativeScript specific styles here.
To learn more about styling in NativeScript see:
https://docs.nativescript.org/angular/ui/styling
*/

//@import '~nativescript-theme-core/css/purple.css';
.pad-right {
    padding-right: 10%;
}

.pad-left {
    padding-left: 10%;
}

.textfield {
    height: 100px;
}

.textfield-section {
    
    border-bottom-width: 2%;
}

.red {
    color: red;
}